.button{
    width: 100%;
    height: 32px;
    min-width: 30px;
    border-radius: 5px;
    border: solid var(--font) 1px;
    cursor: pointer;
    padding: 5px;
    transition: background-color .2s ease-in-out;
}

.icon{
    height: 100%;
    width: 100%;
    background-image: var(--icon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button-primary{
    background-color: var(--green);
}

.button-secondary{
    background-color: var(--background-option);
}

.button-danger{
    background-color: var(--red);
}

.button-secondary .icon{
    filter: invert(1);
}

.button-danger:hover{
    background-color: var(--red-dark);
}

.button-secondary:hover{
    background-color: var(--background-option-dark);
}

.button-primary:hover{
    background-color: var(--green-dark);
}

.button-text{
    display: none;
}