.button{
    composes: button from "../common.module.css";
}

.button:focus{
    outline: solid var(--button-focus) 2px;
}

.icon{
    height: 20px;
    width: 20px;
    background-image: var(--icon);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: var(--icon-filter)
}

.button-primary{
    background-color: var(--button-primary);
}

.button-secondary{
    background-color: var(--button-secondary);
}

.button-danger{
    background-color: var(--button-danger);
}

.button-danger:hover{
    background-color: var(--button-danger-hover);
}

.button-secondary:hover{
    background-color: var(--button-secondary-hover);
}

.button-primary:hover{
    background-color: var(--button-primary-hover);
}

.button-text{
    display: block;
}

@media (max-width: 600px) {
    .button-text{
        display: none;
    }
}