.set-title{
    font-family: var(--font-title);
    color: var(--text-dark);
    font-size: 1.5rem;
    margin: 20px 0 0 0;
    border-top: var(--border-light);
    padding: 10px;
    width: 100%;
    text-align: center;
}

.empty-set-title>span{
    border-radius: 5px;
    background-color: var(--error);
    box-shadow: var(--empty-title-shadow);
    padding: 0 10px;
}