.popup-wrapper{
    composes: popup-wrapper from "../common.module.css";
}

.popup{
    composes: popup from "../common.module.css";
    background-color: var(--error);
}

.open{
    animation-name: open;
    animation-duration: var(--open-duration);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.close{
    animation-name: close;
    animation-duration: var(--close-duration);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes open {
    0% {
        transform: translateY(100px);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes close {
    0%{
        filter: opacity(1);
    }

    100%{
        filter: opacity(0);
    }
}

.error-msg{
    composes: popup-msg from "../common.module.css";
    color: var(--text-dark);
}