.fieldset{
    composes: card from "../common.module.css";
    outline: none;
    outline-color: var(--none);
    transition: outline-color .2s ease-in-out ;
}

.invalid{
    outline: solid var(--red) 2px;
}

.legend{
    float: left;
    text-align: center;
    margin: 0 auto 20px auto;
    font-family: var(--font-title);
    font-size: 1.5rem;
}