.fieldset{
    composes: card from "../common.module.css";
    outline: none;
    outline-color: var(--none);
    transition: outline-color .2s ease-in-out ;
    box-shadow: var(--shadow-off);
    transition: box-shadow .2s ease-in-out;
}

.fieldset:focus-within{
    box-shadow: var(--shadow-on);
}

.invalid{
    outline: solid var(--error) 3px;
    outline-offset: -1px;
}

.invalid>.legend{
    border-radius: 5px;
    background-color: var(--error);
    box-shadow: var(--empty-title-shadow);
    padding: 0 10px;
    transition: background-color ease-in-out .2s, box-shadow ease-in-out .2s;
}

.legend{
    color: var(--text-dark);
    float: left;
    text-align: center;
    margin: 0 auto 20px auto;
    font-family: var(--font-title);
    font-size: 1.5rem;
    box-shadow: var(--shadow-off);
}

.required::after{
    content: " *";
    color: var(--button-primary);
}