.footer{
    width: 100%;
    margin: auto 0 0 0;
    border-bottom: var(--border);
    background-color: var(--background);
    padding: 5px;
}

.footer-items-wrapper{
    max-width: 1280px;
    margin: auto;
    padding: 50px 5px;
    display: flex;
    place-items: center;
    place-content: space-between;
}

.home-logo{
    background-image: url("../assets/logo/logo.svg");
    background-position: center;
    background-size: contain;
    height: 40px;
    width: 40px;
}

.home-link, .home-link:visited{
    display: flex;
    place-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-dark);
    font-family: var(--font-default);
}

.copyright{
    font-family: var(--font-default);
    color: var(--text-dark);
}

@media (max-width: 800px)
{
    .footer-items-wrapper{
        flex-direction: column;
        gap: 50px;
    }
}