.list-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--background-mini-form);
    padding: 10px;
    border: solid 1px var(--font);
    border-radius: 5px;
}

.field-1{
    color: var(--font);
    text-align: center;
    max-width: 180px;
    min-width: 0px;
    text-wrap: wrap;
    word-wrap: break-word;
}

.field-2{
    font-size: 2rem;
    color: var(--green);
    text-align: left;
    align-self: flex-start;
    max-width: 180px;
    margin-bottom: 30px;
}