.nav-bar{
    display: block;
}

.nav-list{
    height: 100%;
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: var(--font-default);
    place-items: center;
    place-content: center;
}

.nav-list-item{

}

.nav-link, .nav-link:visited{
    border-radius: 5px;
    color: var(--text-dark);
    text-decoration: none;
    padding: 5px 10px;
    box-shadow: var(--shadow-off);
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.nav-link:hover{
    background-color: var(--tab-hover);
    box-shadow: var(--tab-hover-shadow);
}

.active{
    box-shadow: var(--active-tab-shadow);
    background-color: var(--tab-active);
}

@media (max-width: 800px) {
    .nav-bar{
        display: none;
    }
}