.nav-menu-button{
    display: flex;
    height: 50px;
    width: 50px;
    background-color: var(--none);
    border: none;
    cursor: pointer;
    display: none;
}

.nav-bar{
    
}

.nav-menu-button-icon{
    width: 100%;
    height: 100%;
    background-image: var(--icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: var(--icon-filter);
}

.nav-menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 40%;
    background-color: var(--background-dark);
    padding: 60px 40px;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.nav-menu-backdrop{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--backdrop);
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.open-backdrop{
    animation-name: open-backdrop;
}

.close-backdrop{
    animation-name: close-backdrop;
}

.open-menu{
    animation-name: open-menu;
}

.close-menu{
    animation-name: close-menu;
}

.show-button{
    animation-name: show-button;
}

.hide-button{
    animation-name: hide-button;
}

.nav-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
    font-family: var(--font-default);
}


.nav-link, .nav-link:visited{
    border-radius: 5px;
    color: var(--text-dark);
    text-decoration: none;
    padding: 5px 10px;
    box-shadow: var(--shadow-off);
    transition: background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.active{
    box-shadow: var(--active-tab-shadow);
    background-color: var(--tab-active);
}

.close-nav-menu-button{
    position: fixed;
    right: 20px;
    top: 20px;
    height: 42px;
    width: 42px;
    background-color: var(--none);
    border: none;
    filter: var(--icon-filter);
    cursor: pointer;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.close-nav-menu-button-icon{
    background-image: var(--icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

@keyframes open-backdrop {
    0% {
        background-color: var(--none);
    }

    100% {
        background-color: var(--backdrop);
    }
}

@keyframes close-backdrop {
    0% {
        background-color: var(--backdrop);
    }

    100% {
        background-color: var(--none);
    }
}

@keyframes open-menu{
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes close-menu{
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes show-button{
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(110%);
    }

    100% {
        transform: scale(100%);
    }
}

@keyframes hide-button{
    0% {
        transform: scale(100%);
    }

    10% {
        transform: scale(110%);
    }

    100% {
        transform: scale(0);
    }
}

@media (max-width: 800px) {
    .nav-menu-button, .nav-menu-backdrop{
        display: block;
    }
}