.number-input-field{
    composes: input-field from "../common.module.css";
}

.number-input{
    composes: text-box from "../common.module.css";
}

.number-input-label{
    composes: text-box-label from "../common.module.css";
}