.popup-wrapper{
    composes: popup-wrapper from "../common.module.css";
}

.popup{
    composes: popup from "../common.module.css";
}

.popup-error{
    background-color: var(--error);
}

.popup-success{
    background-color: var(--success);
}

.open{
    animation-name: open;
    animation-duration: var(--open-duration);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.close{
    animation-name: close;
    animation-duration: var(--close-duration);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.error-msg{
    composes: popup-msg from "../common.module.css";
    color: var(--text-dark);
}

.field-link, .field-link:visited{
    font-family: var(--font-default);
    font-weight: bold;
    color: var(--text-dark)
}

.popup-icon{
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: var(--icon-filter);
}

.error-icon{
    background-image: url("../assets/icons/close.svg");
}

.success-icon{
    background-image: url("../assets/icons/checked.svg");
}

@keyframes open {
    0% {
        transform: translateY(100px);
    }

    100%{
        transform: translateY(0);
    }
}

@keyframes close {
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(100px);
    }
}