.radio-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
}

.radio-group-legend{
    font-family: var(--font-default);
    margin-bottom: 20px;
}

.empty-group-text{
    font-family: var(--font-default);
    font-style: italic;
    color: var(--text-light);
    text-align: center;
}