.radio{
    composes: checkbox from "../common.module.css" ;
}

.radio-label{
    composes: checkbox-label from "../common.module.css";
    composes: radio-label from "../common.module.css";
}

.radio-label-text{
    composes: checkbox-label-text from "../common.module.css";
}

.check-mark{
    composes: mark from "../common.module.css";
    composes: check-mark from "../common.module.css";
}

.user-mark{
    composes: mark from "../common.module.css";
    composes: user-mark from "../common.module.css";
}

.user-mark-visible{
    composes: user-mark-visible from "../common.module.css";
}