.text-area{
    composes: text-box from "../common.module.css";
    resize: none;
}

.text-area-field{
    composes: input-field from "../common.module.css";
}

.text-area-label{
    composes: text-box-label from "../common.module.css";
}