.ordered-list{
    font-family: var(--font-default);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-bottom: 30px;
    gap: 10px;
    border-bottom: solid 1px var(--placeholder);
}

.empty-list-text{
    color: var(--placeholder)
}