.checkbox{
    display: none;
}

.checkbox-label{
    font-family: var(--font-default);
    font-size: 1rem;
    background-color: var(--background-option);
    color: var(--font);
    padding: 5px;
    border-radius: 5px;
    border: solid var(--font) 1px;
    cursor: pointer;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.checkbox-label-text{
    
}

.checkbox:checked+.checkbox-label{
    background-color: var(--green);
    color: var(--background-option);
    box-shadow: var(--shadow);
}

.mark{
    background-position: center;
    background-size: contain;
    height: 20px;
    width: 20px;
    filter: invert(1);
    transition: filter .2s ease-in-out, opacity .2s ease-in-out;
}

.checkbox:checked+.checkbox-label>.mark{
    filter: invert(0);
}

.user-mark{
    background-image: url("./assets/icons/user_option.svg");
    opacity: 0;
}

.user-mark-visible{
    opacity: 1;
}

.check-mark{
    background-image: url("./assets/icons/checked.svg");
    opacity: 0;
}

.checkbox:checked+.checkbox-label>.check-mark{
    opacity: 100%
}

.input-field{
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
    gap: 5px;
    width: 100%;
}

.text-box{
    font-family: var(--font-default);
    color: var(--font);
    border: solid var(--font) 1px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    outline-color: var(--none);
    transition: outline-color .2s ease-in-out;
}

.text-box:focus{
    outline: solid var(--green) 2px;
}

.text-box::placeholder{
    color: var(--placeholder);
}

.text-box-label{
    color: var(--font);
}

.card{
    background-color: vaR(--background-card);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: var(--border);
    width: 100%;
    gap: 10px;
}