.checkbox{
    height: 0;
    width: 0;
    pointer-events: none;
    opacity: 0;
}

.checkbox-label{
    font-family: var(--font-default);
    font-size: 1rem;
    background-color: var(--background-dark);
    color: var(--text-dark);
    padding: 5px;
    border-radius: 5px;
    border: var(--border);
    cursor: pointer;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: var(--shadow-off);
}

.checkbox:focus+.checkbox-label{
    outline: solid var(--button-focus) 3px;
    outline-offset: -1px;
}

.checkbox:checked+.checkbox-label{
    background-color: var(--checkbox-label-checked);
    box-shadow: var(--checkbox-label-shadow);
}

.checkbox:checked+.radio-label{
    background-color: var(--radio-label-checked);
    box-shadow: var(--radio-label-shadow);
}

.checkbox:checked+.item-label{
    background-color: var(--item-label-checked);
    box-shadow: var(--item-label-shadow);
}

.mark{
    background-position: center;
    background-size: contain;
    height: 20px;
    width: 20px;
    filter: var(--icon-filter);
    transition: filter .2s ease-in-out, opacity .2s ease-in-out;
}

.user-mark{
    background-image: url("./assets/icons/user_option.svg");
    opacity: 0;
}

.item-mark{
    background-image: var(--item-icon);
}

.visibility-mark{
    background-image: url("./assets/icons/hidden.svg");
    transition:  background-image .2s ease-in-out;
}

.checkbox:checked+.checkbox-label>.visibility-mark{
    background-image: url("./assets/icons/visible.svg");
}

.user-mark-visible{
    opacity: 1;
}

.check-mark{
    background-image: url("./assets/icons/checked.svg");
    opacity: 0;
}

.checkbox:checked+.checkbox-label>.check-mark{
    opacity: 100%
}

.input-field{
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
    gap: 5px;
    width: 100%;
}

.text-box{
    background-color: var(--background-dark);
    font-family: var(--font-default);
    color: var(--text-dark);
    border: var(--border);
    border-radius: 5px;
    padding: 5px;
    outline: none;
    outline-color: var(--none);
    transition: outline-color .2s ease-in-out;
}

.text-box:focus{
    outline: solid var(--button-primary-hover) 3px;
    outline-offset: -1px;
}

.text-box::placeholder{
    color: var(--text-light);
}

.text-box-label{
    color: var(--text-dark);
}

.card{
    background-color: vaR(--background);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: var(--border);
    width: 100%;
    gap: 10px;
}