@import url("./reset.css");

@font-face {
    font-family: "Slim Jim";
    src: url("./assets/fonts/SlimJim.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root{
    --font-default: "Roboto", sans-serif;
    --font-title: "Slim Jim", serif;

    --none: #00000000;
    
    --shadow-color: #0000004b;
    --shadow-off: 0px 0px 0px 0px var(--shadow-color);
    --shadow-on: 3px 3px 0px 0px var(--shadow-color);

    --background: #ffffff;
    --background-dark: #ededed;

    --text-dark: #161616;
    --text-light: #9b9b9b;

    --border: solid #161616 1px;
    --border-light: solid #9b9b9b 1px;

    --checkbox-label-shadow:
        5px 3px 0px 0px var(--checkbox-label-checked),
        -2px -7px 0px 0px var(--checkbox-label-checked);
    --checkbox-label-checked: #e0dd65;
    --checkbox-label-checked-text: #f9f9f9;

    --radio-label-shadow:
        5px 3px 0px 0px var(--radio-label-checked),
        -2px -7px 0px 0px var(--radio-label-checked);
    --radio-label-checked: #65e0e0;
    --radio-label-checked-text: #f9f9f9;

    --button-focus: #131313;

    --legend-background: #ffb373;
    --legend-shadow:         
        5px 3px 0px 0px var(--legend-background),
        -2px -7px 0px 0px var(--legend-background);

    --button-primary: #ffb373;
    --button-primary-hover: #ffa152;

    --button-secondary: #ffffff;
    --button-secondary-hover: #ededed;

    --button-danger: #fc727f;
    --button-danger-hover: #f75060;

    --error: #fc727f;
    --success: #85f26e;

    --empty-title-shadow: 
        5px 3px 0px 0px var(--error),
        -2px -7px 0px 0px var(--error);
}

body{
    background-color: var(--background-dark);
}

form{
    display: grid;
    grid-auto-rows: min-content;
    place-content: stretch;
    place-items: stretch;
    gap: 5px;
    padding: 2%;
}

:global(div#root){
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
}