@import url("./reset.css");

@font-face {
    font-family: "Slim Jim";
    src: url("./assets/fonts/SlimJim.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root{
    --font-default: "Roboto", sans-serif;
    --font-title: "Slim Jim", serif;

    --none: #00000000;
    
    --shadow-color: #0000004b;
    --shadow-off: 0px 0px 0px 0px var(--none);
    --shadow-on: 3px 3px 0px 0px var(--shadow-color);

    --background: #ffffff;
    --background-dark: #ededed;

    --text-dark: #161616;
    --text-light: #9b9b9b;

    --border: solid #161616 1px;
    --border-light: solid #9b9b9b 1px;

    --checkbox-label-shadow:
        5px 3px 0px 0px var(--checkbox-label-checked),
        -2px -7px 0px 0px var(--checkbox-label-checked);
    --checkbox-label-checked: #86a4f0;

    --radio-label-shadow:
        5px 3px 0px 0px var(--radio-label-checked),
        -2px -7px 0px 0px var(--radio-label-checked);
    --radio-label-checked: #86f0f0;

    --item-label-shadow:
        5px 3px 0px 0px var(--item-label-checked),
        -2px -7px 0px 0px var(--item-label-checked);
    --item-label-checked: #f0ee86;

    --button-focus: #131313;

    --button-primary: #ffb373;
    --button-primary-hover: #ffa152;

    --button-secondary: #ffffff;
    --button-secondary-hover: #ededed;

    --button-danger: #fc727f;
    --button-danger-hover: #f75060;

    --error: #fc727f;
    --success: #85f26e;

    --tab-active: #ffb373;
    --tab-hover: #ffd4b0;
    --empty-title-shadow: 
        5px 3px 0px 0px var(--error),
        -2px -7px 0px 0px var(--error);

    --active-tab-shadow:
        5px 3px 0px 0px var(--tab-active),
        -2px -7px 0px 0px var(--tab-active);

    --tab-hover-shadow:
        5px 3px 0px 0px var(--tab-hover),
        -2px -7px 0px 0px var(--tab-hover);
    
}

body{
    background-color: var(--background-dark);
}

:global(div#root){
    position: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

:global(div#content){
    margin: 100px auto;
    width: 100%;
    max-width: 1280px;
}