@import url("./reset.css");

@font-face {
    font-family: "Resotho";
    src: url(./fonts/Resotho-Extralight.otf);
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Grape Nuts";
    src: url(./fonts/GrapeNuts-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --background: #E8C4C4;
    --background-card: #F2E5E5;
    --background-add: #daeaf1;
    --background-option: white;
    --shadow: #2B3A55;
    --font: black;
    --font-placeholder: rgb(199, 199, 199);
    --font-red: #f54748;
    --font-green: #00ADB5;
    --font-grey:rgb(134, 134, 134);
}

*::selection{
    background-color: var(--font-green);
    color: var(--background-option);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    font-family: "Resotho", sans-serif;
}

form{
    display: grid;
    grid-auto-rows: min-content;
    place-content: stretch;
    place-items: stretch;
    gap: 5px;
    padding: 2%;
}

.logo{
    height: 100px;
    margin: 50px auto 20px auto;
}

h1, h2{
    text-align: center;
}

h1{
    font-family: "Resotho", sans-serif;
    font-size: 20px;
}

h2{
    font-family: "Grape Nuts", sans-serif;
    font-size: 24px;
    color: var(--font-grey);
    margin: 10px auto 50px auto;
}

.card{
    display: grid;
    grid-template-rows: repeat(2, min-content);
    padding: 10px;
    gap: 5px;
    background-color: var(--background-card);
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px -10px var(--shadow);
    place-content: stretch;
    place-items: stretch;
}

.option{
    display: grid;
    grid-template-columns: repeat(2, 5fr) 1fr;
    gap: 5px;
    padding: 10px;
    place-items: center;
    place-content: stretch;
    background-color: var(--background-option);
    min-height: 50px;
    border-radius: 5px;
    border: 1px var(--font) solid;
}

.add{
    background-color: var(--background-add);
}

.data-sheet{
    grid-template-columns: 10fr 1fr;
}

.sheet-controls{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
}

.no-button{
    grid-template-columns: repeat(2, 1fr);
}

.text-area{
    font-family: "Roboto", sans-serif;
    padding: 10px;
    font-size: 16px;
    resize: none;
    border-radius: 5px;
    width: 100%;
}

.text-input{
    font-family: "Roboto", sans-serif;
    padding: 5px;
    font-size: 12px;
    resize: none;
    border-radius: 5px;
    border: 1px var(--font) solid;
    width: 100%;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    place-items: center;
    width: 100%;
}

.label{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.label-input{
    font-size: 12px;
    text-align: left;
    justify-self: flex-start;
    align-self: flex-start;
}

.button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: #00000000;
    cursor: pointer;
    margin-right: 0;
}

.button-icon{
    width: 50px;
    transition: .3s ease;
    filter: saturate(0%) brightness(0%);
}

.button-choice{
    border-radius: 5px;
    padding: 5px;;
    background-color: var(--background-option);
    border: 1px var(--font) solid;
    width: 100%;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: .2s ease;
    font-size: 12px
}
/*order in css file indicates which properites override*/
.selected{
    background-color: var(--font-green);
    color: var(--background-option);
}

.button-choice:active{
    transform: scale(90%);
}

.choices-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.button-icon:hover{
    transform: scale(80%);
    filter: saturate(100%);
}

.item-name{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: var(--font);
}

.item-count{
    color: var(--font-green);
}

.error{
    font-family: "Roboto", sans-serif;
    color: var(--font-red);
    text-align: center;
    font-size: 12px;
    min-height: 20px;
}

.info{
    color: var(--font-green);
}

.select{
    grid-template-columns: repeat(2, 1fr);;
}

*::placeholder{
    color: var(--font-placeholder)
}

@media (min-width: 700px)
{
    .logo{
        height: 200px;
    }

    h1{
        font-size: 32px;
    }

    h2{
        font-size: 32px;
    }

    .label{
        font-size: 24px;
    }

    .label-input{
        font-size: 16px;
    }

    .text-input{
        font-size: 16px;
    }

    .button-choice{
        font-size: 16px;
    }

    .select{
        grid-template-columns: 1fr 3fr;
    }

    .card{
        gap: 10px;
        padding: 30px;
    }

    form{
        gap: 20px;
    }

    .error{
        font-size: 16px;
    }
}