@import url("./reset.css");

@font-face {
    font-family: "Resotho";
    src: url(./fonts/Resotho-Extralight.otf);
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --background: #E8C4C4;
    --background-card: #F2E5E5;
    --background-selected:#CE7777;
    --background-add: #daeaf1;
    --background-option: white;
    --shadow: #2B3A55;
    --font: black;
}

body{
    background-color: var(--background);
    font-family: "Resotho", sans-serif;
}

form{
    display: grid;
    grid-auto-rows: min-content;
    place-content: stretch;
    place-items: stretch;
    gap: 20px;
    padding: 100px;
}

.card{
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 10px;
    padding: 30px;
    background-color: var(--background-card);
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px -10px var(--shadow);
    place-content: stretch;
    place-items: stretch;
}

.option{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
    place-items: center;
    background-color: var(--background-option);
    min-height: 50px;
    border-radius: 5px;
    border: 1px var(--font) solid;
}

.add{
    background-color: var(--background-add);
}

.selected{
    background-color: var(--background-selected);
}

.text-area{
    font-family: "Roboto";
    padding: 10px;
    font-size: 16px;
    resize: none;
    border-radius: 5px;
}

.text-input{
    font-family: "Roboto";
    padding: 5px;
    font-size: 16px;
    resize: none;
    border-radius: 5px;
    border: 1px var(--font) solid;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    place-items: center;
}

.label{
    font-size: 24px;
    text-align: center;
}

.label-input{
    font-size: 16px;
    text-align: center;
}

.button{

}

.button-add{
    
}